.repReq_root
  .repReq_side
    a(href="#").repReq_sideLink
  .repReq_container
    .repReq_top
      .repReq_topTitle Repair request
      .repReq_topDescription Attached images
    .repReq_content
      .repReq_contentTitle Note:
      .repReq_contentBox Engine Oil Filter
    .repReq_imageBox
      a(href="#").repReq_imageLink
        img.repReq_image
    .repReq_bottom
      .repReq_bottomBox
        .repReq_bottomTitle Due date:
        .repReq_bottomDescription December 31, 2015 (2 days left)
      .repReq_bottomBox.repReq_bottomEdit
        .repReq_bottomTitle Vehicle:
        .repReq_bottomDescription Nissan Pathfinder 2010 LE
        a(href="#").repReq_bottomEditlink edit
.repReqEdit_root
  .repReq_side.repReqEdit_side
    a(href="#").repReq_sideLink
  .repReq_container
    .repReq_top
      .repReq_topTitle Repair request
      .repReqEdit_topDescription
        input(type="checkbox", id="urgentRequest").repReqEdit_topDescriptionLabelInput
        label(for="urgentRequest").repReqEdit_topDescriptionLabel This is an urgent request
    .repReqEdit_content
      .repReq_contentTitle.repReqEdit_contentTitle Note:
      .repReqEdit_contentBox
        textarea(type="text", placeholder="Placeholder").repReqEdit_contentInput
    .repReq_imageBox.repReqEdit_imageBox
      a(href="#").repReq_imageLink
        img(src="../images/repReq/page11.png").repReq_image
      a(href="#").repReqEdit_imageLinkDelete
        span
        span
        span
    .repReq_bottom
      .repReq_bottomBox
        .vehFilter_root.repReqEdit_bottomBoxDate
          a(href="#").vehFilter_link December 31, 2015
      .repReq_bottomBox
        .vehFilter_root.repReqEdit_bottomBoxVeh
          a(href="#").vehFilter_link Nissan Pathfinder 2010 LE
          ul.vehFilter_list
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title Nissan Pathfinder 2010 L
                .vehFilter_description license: 4syv967
                .vehFilter_description vin: 1jthl657xgt941899
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title Nissan Pathfinder 2010 XL
                .vehFilter_description license: 4syv967
                .vehFilter_description vin: 1jthl657xgt941899
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title Nissan Pathfinder 2010 XXL
                .vehFilter_description license: 4syv967
                .vehFilter_description vin: 1jthl657xgt941899
.repReqCreated_root
  .repReq_side.repReqCreated_side
    a(href="#").repReq_sideLink
  .repReq_container
    .repReqCreated_top
      .repReq_topTitle.repReqCreated_topTitle User-crated service note:
      .repReqEdit_topDescription
        input(type="checkbox", id="urgentRequest2").repReqEdit_topDescriptionLabelInput
        label(for="urgentRequest2").repReqEdit_topDescriptionLabel This is an urgent request
    .repReqCreated_content
      .repReqCreated_contentBox
        textarea(type="text", placeholder="Placeholder").repReqCreated_contentInput
    .repReqCreated_bottom
      .repReq_bottomBox
        .vehFilter_root.repReqCreated_bottomBoxMileage
          a(href="#").vehFilter_link 99 000
          ul.vehFilter_list
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title 2000
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title 3000
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title 5000
      .repReq_bottomBox
        .vehFilter_root.repReqCreated_bottomBoxPeriod
          a(href="#").vehFilter_link 6 month
          ul.vehFilter_list
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title 3 month
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title 9 month
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title 12 month
      .repReq_bottomBox
        .vehFilter_root.repReqCreated_bottomBoxFrequency
          a(href="#").vehFilter_link Every mileage or month
          ul.vehFilter_list
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title Every mileage or month
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title Every mileage
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title Every month
      .repReq_bottomBox
        .vehFilter_root.repReqCreated_bottomBoxVeh
          a(href="#").vehFilter_link Nissan Pathfinder 2010 LE
          ul.vehFilter_list
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title Nissan Pathfinder 2010 L
                .vehFilter_description license: 4syv967
                .vehFilter_description vin: 1jthl657xgt941899
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title Nissan Pathfinder 2010 XL
                .vehFilter_description license: 4syv967
                .vehFilter_description vin: 1jthl657xgt941899
            li.vehFilter_item
              a(href="#").vehFilter_itemLink
                .vehFilter_title Nissan Pathfinder 2010 XXL
                .vehFilter_description license: 4syv967
                .vehFilter_description vin: 1jthl657xgt941899