.vehicle_root
  ul.vehicle_list
    li.vehicle_itemRepair
      a(href='#').vehicle_itemLink
        .vehicle_top
          .vehicle_topName Nissan Pathfinder 2010 LE
          .vehicle_topMark
        .vehicle_content
          p LICENSE: 4SYV967
          p VIN: 1JTHL657XGT941899
      .vehicle_bottom
        .vehicle_bottomStateRepair
          a(href='#') Under repair
        .vehicle_bottomInfo
          ul.vehicle_bottomInfoList
            li.vehicle_bottomInfoWeather
              a(href='#').vehicle_bottomInfoWeatherLink
            li.vehicle_bottomInfoCalendar
              a(href='#').vehicle_bottomInfoCalendarLink
            li.vehicle_bottomInfoRest
              a(href='#').vehicle_bottomInfoRestLink
    li.vehicle_item
      a(href='#').vehicle_itemLink
        .vehicle_top
          .vehicle_topName Nissan Pathfinder 2010 LE
        .vehicle_content
          p LICENSE: 4SYV967
          p VIN: 1JTHL657XGT941899
      .vehicle_bottom
        .vehicle_bottomState
          a(href='#') Under repair
        .vehicle_bottomInfo
          ul.vehicle_bottomInfoList
            li.vehicle_bottomInfoFavorites
              a(href='#').vehicle_bottomInfoFavoritesLink
            li.vehicle_bottomInfoWeather
              a(href='#').vehicle_bottomInfoWeatherLink
            li.vehicle_bottomInfoCalendar
              a(href='#').vehicle_bottomInfoCalendarLink
            li.vehicle_bottomInfoRest
              a(href='#').vehicle_bottomInfoRestLink
    li.vehicle_item
      a(href='#').vehicle_itemLink
        .vehicle_top
          .vehicle_topName Nissan Pathfinder 2010 LE
        .vehicle_content
          p LICENSE: 4SYV967
          p VIN: 1JTHL657XGT941899
      .vehicle_bottom
        .vehicle_bottomState
          a(href='#') Under repair
        .vehicle_bottomInfo
          ul.vehicle_bottomInfoList
            li.vehicle_bottomInfoFavorites
              a(href='#').vehicle_bottomInfoFavoritesLink
            li.vehicle_bottomInfoWeather
              a(href='#').vehicle_bottomInfoWeatherLink
            li.vehicle_bottomInfoCalendar
              a(href='#').vehicle_bottomInfoCalendarLink
            li.vehicle_bottomInfoRest
              a(href='#').vehicle_bottomInfoRestLink
    li.vehicle_item
      a(href='#').vehicle_itemLink
        .vehicle_top
          .vehicle_topName Nissan Pathfinder 2010 LE
        .vehicle_content
          p LICENSE: 4SYV967
          p VIN: 1JTHL657XGT941899
      .vehicle_bottom
        .vehicle_bottomState
          a(href='#') Under repair
        .vehicle_bottomInfo
          ul.vehicle_bottomInfoList
            li.vehicle_bottomInfoFavorites
              a(href='#').vehicle_bottomInfoFavoritesLink
            li.vehicle_bottomInfoWeather
              a(href='#').vehicle_bottomInfoWeatherLink
            li.vehicle_bottomInfoCalendar
              a(href='#').vehicle_bottomInfoCalendarLink
            li.vehicle_bottomInfoRest
              a(href='#').vehicle_bottomInfoRestLink
    li.vehicle_itemOverdue
      a(href='#').vehicle_itemLink
        .vehicle_top
          .vehicle_topName Nissan Pathfinder 2010 LE
        .vehicle_content
          p LICENSE: 4SYV967
          p VIN: 1JTHL657XGT941899
      .vehicle_bottom
        .vehicle_bottomStateOverdue
          a(href='#') Maintenance Overdue
        .vehicle_bottomInfo
          ul.vehicle_bottomInfoList
            li.vehicle_bottomInfoFavorites
              a(href='#').vehicle_bottomInfoFavoritesLink
            li.vehicle_bottomInfoWeather
              a(href='#').vehicle_bottomInfoWeatherLink
            li.vehicle_bottomInfoCalendar
              a(href='#').vehicle_bottomInfoCalendarLink
            li.vehicle_bottomInfoRest
              a(href='#').vehicle_bottomInfoRestLink