extends ../components/shell/basic

block root
  .shell_root
    .shell_header
      include ../components/header/header
    .shell_container
      .shell_sideMenu
        include ../components/sideMenu/sideMenu
      .shell_content