extends ../components/shell/basic

block root
  .shell_root.topPanel_rootActive
    .shell_header
      include ../components/header/header
    .topPanel_root
      .topPanel_box
        include ../components/breadcrumbs/breadcrumbs
      .topPanel_box
        include ../components/btnBox/btnBox
        include ../components/btnBox/btnBox
        include ../components/vehFilter/vehFilter
    .shell_container
      .shell_sideMenu
        include ../components/sideMenu/sideMenu
      .shell_content
        include ../components/service/service