.service_root
  ul.service_list
    li.service_item
      .service_itemIcon.service_itemIconDanger
        a(href='#').service_itemIconLink
      .service_container
        .service_Name
          .service_NameService Engine Oil Filter
          .service_NameType Maintenance overdue
        .service_info
          .service_infoSide
            .service_infoEdit
              a(href="#").service_infoEditlink edit
          .service_infoCars Nissan Pathfinder 2010 LE
          .service_infoMileage Overdue by 1.000 miles
    li.service_item
      .service_itemIcon.service_itemIconAttention
        a(href='#').service_itemIconLink
      .service_container
        .service_Name
          .service_NameService Engine Oil Filter
          .service_NameType Maintenance due soon
        .service_info
          .service_infoSide
            .service_infoEdit
              a(href="#").service_infoEditlink edit
          .service_infoCars Nissan Pathfinder 2010 LE
          .service_infoMileage Overdue by 1.000 miles
    li.service_item
      .service_itemIcon.service_itemIconSuccess
        a(href='#').service_itemIconLink
      .service_container
        .service_Name
          .service_NameService Engine Oil Filter
          .service_NameType Maintenance scheduled
        .service_info
          .service_infoSide
            .service_infoEdit
              a(href="#").service_infoEditlink edit
          .service_infoCars Nissan Pathfinder 2010 LE
          .service_infoMileage In 1.342 miles
    li.service_itemDetailed
      .service_itemIcon.service_itemIconSuccess
        a(href='#').service_itemIconLink
      .service_container
        .service_Name
          .service_NameOptions Service:
          .service_NameServiceDetailed Engine Oil Filter
          .service_NameSchedule 5 months or 15.000 miles
          .service_NameStatus Maintenance scheduled
        .service_info
          .service_infoSideDetailed
            .service_infoEdit
              a(href="#").service_infoEditlink edit
          .service_infoCarsDetailed Dec 31, 2015 (30 days left) or 298 miles
          .service_infoMileageDetailed Nissan Pathfinder 2010 LE
    li.service_item
      .service_itemIcon.service_itemIconUserService
        a(href='#').service_itemIconLink
      .service_container
        .service_Name
          .service_NameService Engine Oil Filter
          .service_NameType User-requested service
        .service_info
          .service_infoSide
            .service_infoEdit
              a(href="#").service_infoEditlink edit
          .service_infoCars Nissan Pathfinder 2010 LE
          .service_infoMileage In 10 days or 298 miles
    li.service_item
      .service_itemIcon.service_itemIconUserRepir
        a(href='#').service_itemIconLink
      .service_container
        .service_Name
          .service_NameService Engine Oil Filter
          .service_NameType User-requested repair
        .service_info
          .service_infoSide
            .service_infoPhoto
              a(href='#').service_infoPhotoLink
            .service_infoEdit
              a(href="#").service_infoEditlink edit
          .service_infoCars Nissan Pathfinder 2010 LE
          .service_infoMileage In 3 days