.repairs_root
  .repairs_box.repairs_stateInitiated
    a(href="#").repairs_link
      .repairs_top
        .repairs_topTitle Transmission Fluid Service
        .repairs_topBox
          .repairs_topBoxIcon.repairs_topBoxRepair
            .repairs_topBoxValue 3
          .repairs_topBoxIcon.repairs_topBoxService
            .repairs_topBoxValue 5
          .repairs_topBoxIcon.repairs_topBoxChat
            .repairs_topBoxValue 1
      .repairs_content
        .repairs_side
          .repairs_sideShop
            .repairs_sideShopTitle Clayton Valley Auto Service
            .repairs_sideShopDescription 4425 Treat Blvd, Concord, CA 94521
          .repairs_sideVehicle
            .repairs_sideVehicleTitle Nissan Pathfinder 2010 LE
        .repairs_progress
          ul.repairs_progressList
            li.repairs_progressItem.repairs_progressItemInitiated
              .repairs_progressTitle Initiated
              .repairs_progressPoint
              .repairs_progressDate Nov 21, 2015
            li.repairs_progressItem.repairs_progressItemChecked
              .repairs_progressTitle Checked
              .repairs_progressLine
              .repairs_progressPoint
            li.repairs_progressItem.repairs_progressItemProgress
              .repairs_progressTitle Progress
              .repairs_progressLine
              .repairs_progressPoint
            li.repairs_progressItem.repairs_progressItemFinished
              .repairs_progressTitle Finished
              .repairs_progressLine
              .repairs_progressPoint
              .repairs_progressDate Dec 13, 2014
        .repairs_priceBox
          .repairs_priceContent
            .repairs_priceParts
              .repairs_pricePartsDescription Parts:
              .repairs_pricePartsCost $0
            .repairs_priceLabor
              .repairs_priceLaborDescription Labor:
              .repairs_priceLaborCost $0
          .repairs_priceTotal
            .repairs_priceTotalDescription Total
            .repairs_priceTotalCost $0
  .repairs_box.repairs_stateChecked
    a(href="#").repairs_link
      .repairs_top
        .repairs_topTitle Battery Replacement
        .repairs_topBox
          .repairs_topBoxIcon.repairs_topBoxRepair
            .repairs_topBoxValue 2
          .repairs_topBoxIcon.repairs_topBoxService
            .repairs_topBoxValue 1
          .repairs_topBoxIcon.repairs_topBoxChat
            .repairs_topBoxValue 1
      .repairs_content
        .repairs_side
          .repairs_sideShop
            .repairs_sideShopTitle Dent Erasers LLC
            .repairs_sideShopDescription 4425 Treat Blvd, Concord, CA 94521
          .repairs_sideVehicle
            .repairs_sideVehicleTitle Nissan Pathfinder 2010 LE
        .repairs_progress
          ul.repairs_progressList
            li.repairs_progressItem.repairs_progressItemInitiated
              .repairs_progressTitle Initiated
              .repairs_progressPoint
              .repairs_progressDate Nov 8, 2015
            li.repairs_progressItem.repairs_progressItemChecked
              .repairs_progressTitle Checked
              .repairs_progressLine
              .repairs_progressPoint
            li.repairs_progressItem.repairs_progressItemProgress
              .repairs_progressTitle Progress
              .repairs_progressLine
              .repairs_progressPoint
            li.repairs_progressItem.repairs_progressItemFinished
              .repairs_progressTitle Finished
              .repairs_progressLine
              .repairs_progressPoint
              .repairs_progressDate Dec 13, 2014
        .repairs_priceBox
          .repairs_priceContent
            .repairs_priceParts
              .repairs_pricePartsDescription Parts:
              .repairs_pricePartsCost $99 999.99
            .repairs_priceLabor
              .repairs_priceLaborDescription Labor:
              .repairs_priceLaborCost $114.89
          .repairs_priceTotal
            .repairs_priceTotalDescription Total
            .repairs_priceTotalCost $99 999.99
  .repairs_box.repairs_stateProgress
    a(href="#").repairs_link
      .repairs_top
        .repairs_topTitle Brake System Flush
        .repairs_topBox
          .repairs_topBoxIcon.repairs_topBoxRepair
            .repairs_topBoxValue 3
          .repairs_topBoxIcon.repairs_topBoxService
            .repairs_topBoxValue 5
          .repairs_topBoxIcon.repairs_topBoxChat
            .repairs_topBoxValue 1
      .repairs_content
        .repairs_side
          .repairs_sideShop
            .repairs_sideShopTitle Kragen auto parts
            .repairs_sideShopDescription 4375 Clayton Rd, Concord, CA 95376
          .repairs_sideVehicle
            .repairs_sideVehicleTitle Nissan Pathfinder 2010 LE
        .repairs_progress
          ul.repairs_progressList
            li.repairs_progressItem.repairs_progressItemInitiated
              .repairs_progressTitle Initiated
              .repairs_progressPoint
              .repairs_progressDate Oct 30, 2015
            li.repairs_progressItem.repairs_progressItemChecked
              .repairs_progressTitle Checked
              .repairs_progressLine
              .repairs_progressPoint
            li.repairs_progressItem.repairs_progressItemProgress
              .repairs_progressTitle Progress
              .repairs_progressLine
              .repairs_progressPoint
            li.repairs_progressItem.repairs_progressItemFinished
              .repairs_progressTitle Finished
              .repairs_progressLine
              .repairs_progressPoint
              .repairs_progressDate Dec 13, 2014
        .repairs_priceBox
          .repairs_priceContent
            .repairs_priceParts
              .repairs_pricePartsDescription Parts:
              .repairs_pricePartsCost $46.00
            .repairs_priceLabor
              .repairs_priceLaborDescription Labor:
              .repairs_priceLaborCost $15.15
          .repairs_priceTotal
            .repairs_priceTotalDescription Total
            .repairs_priceTotalCost $61.15
  .repairs_box.repairs_stateFinished
    a(href="#").repairs_link
      .repairs_top
        .repairs_topTitle Transmission Speed Sensor Replacement
        .repairs_topBox
          .repairs_topBoxIcon.repairs_topBoxRepair
            .repairs_topBoxValue 3
          .repairs_topBoxIcon.repairs_topBoxService
            .repairs_topBoxValue 5
          .repairs_topBoxIcon.repairs_topBoxChat
            .repairs_topBoxValue 1
      .repairs_content
        .repairs_side
          .repairs_sideShop
            .repairs_sideShopTitle Speedee Oil Change & Tune up
            .repairs_sideShopDescription 711 W Grant Line Rd, Tracy, CA 95231
          .repairs_sideVehicle
            .repairs_sideVehicleTitle Nissan Pathfinder 2010 LE
        .repairs_progress
          ul.repairs_progressList
            li.repairs_progressItem.repairs_progressItemInitiated
              .repairs_progressTitle Initiated
              .repairs_progressPoint
              .repairs_progressDate Jan 11, 2015
            li.repairs_progressItem.repairs_progressItemChecked
              .repairs_progressTitle Checked
              .repairs_progressLine
              .repairs_progressPoint
            li.repairs_progressItem.repairs_progressItemProgress
              .repairs_progressTitle Progress
              .repairs_progressLine
              .repairs_progressPoint
            li.repairs_progressItem.repairs_progressItemFinished
              .repairs_progressTitle Finished
              .repairs_progressLine
              .repairs_progressPoint
              .repairs_progressDate Jan 12, 2015
        .repairs_priceBox
          .repairs_priceContent
            .repairs_priceParts
              .repairs_pricePartsDescription Parts:
              .repairs_pricePartsCost $0
            .repairs_priceLabor
              .repairs_priceLaborDescription Labor:
              .repairs_priceLaborCost $0
          .repairs_priceTotal
            .repairs_priceTotalDescription Total
            .repairs_priceTotalCost $0