.vehFilter_root vehFilter_root
  a(href="#").vehFilter_link Nissan Pathfinder 2010 LE
  ul.vehFilter_list
    li.vehFilter_item
      a(href="#").vehFilter_itemLink
        .vehFilter_title Nissan Pathfinder 2010 L
        .vehFilter_description license: 4syv967
        .vehFilter_description vin: 1jthl657xgt941899
    li.vehFilter_item
      a(href="#").vehFilter_itemLink
        .vehFilter_title Nissan Pathfinder 2010 XL
        .vehFilter_description license: 4syv967
        .vehFilter_description vin: 1jthl657xgt941899
    li.vehFilter_item
      a(href="#").vehFilter_itemLink
        .vehFilter_title Nissan Pathfinder 2010 XXL
        .vehFilter_description license: 4syv967
        .vehFilter_description vin: 1jthl657xgt941899