.sideMenu_root
  ul.sideMenu_list
    li.sideMenu_item
      a(href="#").sideMenu_link.sideMenu_home
        .sideMenu_title Home
    li.sideMenu_item
      a(href="#").sideMenu_link.sideMenu_drive
        .sideMenu_title My garage
    li.sideMenu_item
      a(href="#").sideMenu_link.sideMenu_cloud
        .sideMenu_title My repairs
    li.sideMenu_item
      a(href="#").sideMenu_link.sideMenu_event
        .sideMenu_title Maintenance
    li.sideMenu_item
      a(href="#").sideMenu_link.sideMenu_person.sideMenu_linkActive
        .sideMenu_title Account